.main-body{
    width: 100%;
    height: 800px;
    background-color: rgba(var(--b3f,250,250,250),1);
    padding-top: 30px;
}

.leftside{
    float: left;
    width: 50% ;
    height: 650px;
    
    

}
.phone{
    height: 557px;
    width: 262px;
    float: right;
    margin-right: 26px;
    margin-top: 23px;

    
}
.backphone{

    height: 600px;
    width: 441px;
    float:right;
    background-image: url(images/phone\ back.png);
    background-size: 470px 650px;
    background-repeat:no-repeat;

}
.rightside{
    width: 50%;
    float: left;
    height: 650px;
}
.loginbox{
    height: 335px;
    width: 35%;
    background-color:#fff;
    border: 1px solid;
    border-color:  #dbdbdb;
    margin-left: 26px;
    margin-top: 14px;
    padding: 38px;
}
.in-font{
    margin-left: 45px;
    margin-top: 5px;
    height: 50px;
    width: auto;
}
.name{
    margin-top: 3px;
    width: 245px;
    height: 28px;
    background-color:rgba(var(--b3f,250,250,250),1) ;
    border-color: #ffffff;
    border:1px solid rgb(221, 220, 220);
    font-size: 12px;
}
.login{
    width: 250px;
    height: 30px;
    margin-top: 10px;
   border-radius: 5px;
   border: white;
   cursor: pointer;
   color: whitesmoke;
   background-color: rgb(8,170,245);
   font-family: Arial, Helvetica, sans-serif  ;
   opacity: 35%;
   font-size: bold;
   font-size: 15px;
}
.p1{
    float: left;
    margin-left: 5px;
    opacity: 40%;
}
.p2{
    float: right;
    margin-right: 10px;
}
.or{
    margin-top: 24px;
    margin-left: 25px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.fblink{
    margin-left: 52px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bolder;
    color: #242188;
    text-decoration: none;;
}
.fb{
    margin-top: 0px;
    height: 12px;
    width: auto;
}
.forget{
    color: #221be0;
    text-decoration: none;
    margin-left: 78px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;

}
.loginfoot{
    height: 65px;
    width: 45%;
    background-color:#fff;
    border: 1px solid #dbdbdb;
    margin-left: 26px;
    margin-top: 14px;

}
.dont{
    margin-top: 25px;
    margin-left: 63px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
   
}
.up{
    text-decoration: none;
    color:rgb(60, 136, 212);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;

}
.get{
    margin-top: 47px;
    margin-left: 125px;
    font-family: sans-serif;
    font-size: 14px;
}
.apple{
    height: 37px;
    width: auto;
    margin-left: 33px;
    margin-top: 10px;
    
}
.google{
    margin-left: 10px;
}
.footer{
    width: 100%;
    height: 150px;
    float: left;
}
.cenfoot{
    float: left;
    height: 75px;
    margin-top: 15px;
    margin-left: 20%;

    width: 60%;
}
.abc{
    font-family: ans-serif;
    font-size: 12px;
    text-decoration: none ;
    margin-left: 22px;
    color: rgba(var(--f52,142,142,142),1)
}
.newline{
    padding-left: 42px;
}
#abcde{
    float: left;
    margin-left: 90px;
    margin-top: 30px;
    font-size:12px;
    color: rgba(var(--f52,142,142,142),1)
}
.a{
    margin-left: 22px;
    float: left;
    margin-top: 32px;
}